---
import Tecnologias from "./Stack.astro";
import VisitIcon from "../assets/visit-icon.astro";
import CodeIcon from "../assets/code-icon.astro";
import Separator from "./Separator.astro";
import Stack from "./Stack.astro";
import Badge from "./badge.astro";
import Status from "./status.astro";
const {
  title,
  description,
  image,
  url,
  demo,
  urlRepo,
  repo,
  next,
  ts,
  node,
  tailwind,
  react,
  astro,
  mongo,
  prisma,
  beta,
  dev,
  front,
  back,
  fullstack,
} = Astro.props;
---

<article
class="max-w-xs mx-auto w-auto bg-background-color text-[#ebecf3] rounded-xl md:flex md:flex-col md:max-w-4xl border-2 border-border-color hover:shadow-blue duration-700 shadow-2xl"
>
<div class="pt-5 text-center text-4xl font-bold">
  <div class="flex flex-col md:flex-row w-[100%] justify-between">
    <h1 class="mx-auto md:pl-[136px]">
      {title}
  </h1>
  <div class="flex mx-auto md:mx-0 gap-4 md:pr-10">
    <a class="text-[#ebecf3] hover:text-blue-500" href={url} target="_blank"
    >
      {url && <VisitIcon />}
    </a>
    <a
      class="text-[#ebecf3] hover:text-blue-500"
      href={urlRepo}
      target="_blank"
    >
      {repo && <CodeIcon />}
    </a>
  </div>
</div>
  <div  class="flex-grow flex justify-center flex-wrap gap-2 p-1 h-auto w-auto rounded-3xl py-5">
    <Status beta={beta} dev={dev} front={front} fullstack={fullstack}/>
  </div>
  <Separator/>
</div>
<div class="flex flex-col md:flex-row">

  <div class="hover:origin-bottom hover:-rotate-3 duration-200 md:flex-shrink-0 mx-1 my-1 md:mx-2 md:my-2">
    <img
    alt="AOTM landing page"
      class="h-auto w-auto object-cover md:w-72"
      height="300"
      src={image}
      style={{
        aspectRatio: "300/300",
        objectFit: "cover",
      }}
      width="300"
    />
  </div>

  <div class="md:flex md:flex-col items-center gap-5 p-1 md:border-l-2 md:border-border-color">
    <div class="w-[100%] mx-auto px-auto py-5 text-lg font-normal min-h-[50%] rounded bg-[#111]">
      <p class="px-5">
        {description}
      </p>
    </div>
    <div>
      <div>

      </div>
      <div>
        <h3 class="text-center text-xl font-semibold">STACK</h3>
        <div
        class="flex-grow flex flex-wrap gap-2 p-1 h-auto mx-auto w-auto md:w-[100%] justify-center items-center rounded-lg mt-2 "
        >
        <Stack
        ts={ts}
        next={next}
        node={node}
        tailwind={tailwind}
        react={react}
        astro={astro}
        mongo={mongo}
        prisma={prisma}
      />
    </div>
  </div>
  </div>
  </div>
</div>
</article>
