---
import Tecnologias from "./Tecnologias.astro";
import VisitIcon from "../assets/visit-icon.astro";
import CodeIcon from "../assets/code-icon.astro";
import Separator from "./Separator.astro";
const {
  title,
  description,
  image,
  url,
  demo,
  urlRepo,
  repo,
  next,
  ts,
  node,
  tailwind,
  react,
  astro,
  mongo,
  prisma,
} = Astro.props;
---

<article
  class="max-w-xs mx-auto w-auto bg-[#111] text-[#ebecf3] rounded-xl shadow-md overflow-hidden md:flex md:max-w-4xl border border-border-color"
>
  <div class="md:flex-shrink-0 md:my-auto m-2 border-2 border-border-color">
    <img
      alt="Man looking at item at a store"
      class="h-auto w-auto object-cover md:w-72"
      height="300"
      src={image}
      style={{
        aspectRatio: "300/300",
        objectFit: "cover",
      }}
      width="300"
    />
  </div>

  <div class="md:flex md:flex-col m-2 p-2 rounded-xl">
    <div>
      <h1 class="block mt-1 text-4xl font-semibold ">
        {title}
      </h1>
    </div>
    <div class="mt-5 text-lg font-normal min-h-[96px] text-white">
      {description}
    </div>
    <div
      class="flex-grow flex flex-wrap gap-6 p-1 border-2 border-border-color h-auto mx-auto w-auto rounded-3xl justify-center mt-5"
    >
      <Tecnologias
        ts={ts}
        next={next}
        node={node}
        tailwind={tailwind}
        react={react}
        astro={astro}
        mongo={mongo}
        prisma={prisma}
      />
    </div>
    <div class="mt-5 flex justify-center items-center gap-4">
      <a class="text-[#ebecf3] hover:text-blue-500" href={url} target="_blank"
        >
        {url && <VisitIcon />}
      </a>
      <a
        class="text-[#ebecf3] hover:text-blue-500"
        href={urlRepo}
        target="_blank"
      >
        {repo && <CodeIcon />}
      </a>
    </div>
  </div>
</article>
