---
import { Image, Picture } from "astro:assets";
import ProfileImg from "../assets/pngegg.png";
import TestImg from "../assets/testimg.jpg";
import EmailIcon from "../assets/stack-icons/email-icon.astro";
import GithubIcon from "../assets/github-icon.astro";
import LinkedinIcon from "../assets/linkedin-icon.astro";
import Card from "./Card.astro";
import Separator from "./Separator.astro";
import Work from "./work.astro";
import Presentation from "./Presentation.astro";
import Badge from "./badge.astro";
import Hobbies from "./hobbies.astro";
---

<main class="mt-[6vh]">
  <section
    id="home"
    class="scroll-mt-[6vh] flex justify-center h-auto md:h-[94vh]"
  >
    <!-- TODO: Conseguir una buena foto y arreglar dimenciones del div-->
    <hero class="flex justify-center w-[100%] h-[100%] md:h-[75%] mb-20">
      <div
        class="flex flex-col md:pt-[0] md:flex-row md:justify-center md:items-center w-[90%] md:w-[80%] h-auto md:h-[100%] gap-16"
      >
        <div class="w-auto md:w-[615px] h-auto mt-5">
          <div class="pt-1 text-center md:text-left">
            <h1>
              <span class="text-5xl font-bold sm:text-5xl">RODRIGO HUAJAMAITA</span>
            </h1>
            <h2 class="text-4xl font-medium">
              I'm a <span class="font-semibold text-blue-500"
                >FULLSTACK DEVELOPER</span
              >
            </h2>
            <span class="text-2xl font-extralight">
              ON THE PATH OF <span class="font-semibold text-blue-500"
                >WEB DEVELOPMENT</span
              >
            </span>
          </div>
          <div
            class="flex pt-3 md:pt-5 gap-6 w-[100%] h-[20%] items-center justify-center md:justify-normal text-white"
          >
            <a href="#contact">
              <EmailIcon />
            </a>
            <a href="https://github.com/Rwaja" target="_blank">
              <GithubIcon />
            </a>
            <a href="https://linkedin.com/in/rhuaja/" target="_blank">
              <LinkedinIcon />
            </a>
          </div>
        </div>
        <div class="w-auto md:w-[30%] h-auto mt-3 md:mt-0">
          <!-- <Image
            src={ProfileImg}
            alt="Profile Image"
            format="png"
            class={"w-auto h-auto mx-auto"}
          /> -->
        </div>
      </div>
    </hero>
  </section>
  <section
    id="about"
    class="scroll-mt-[6vh] flex gap-5 flex-col justify-center items-center h-auto text-base font-extralight bg-[#101010] pb-[5rem] pt-[2rem]"
  >
    <!-- TODO: actualizar contenido-->
    <div class="flex justify-center items-center w-[80%] md:w-[80%] pb-[2rem]">
      <span class="text-5xl font-bold select-none md:text-5xl">ABOUT</span><span
        class="pr-5 text-5xl font-black text-blue-500 md:text-5xl">.</span
      >
      <Separator />
    </div>
    <div class="flex flex-col justify-center lg:flex-row w-full md:w-[80%] gap-5 md:gap-4">
      <Presentation />
      <div class="flex flex-col gap-5 lg:w-[35%] items-center select-none">
        <Work />
        <Hobbies/>
      </div>
    </div>
  </section>
  <section id="experience" class="scroll-mt-[6vh] flex justify-center h-[94vh]">
    <!-- TODO: mejorar descripcion -->
    <div class="md:justify-center md:items-center w-[80%] h-[100%]">
      <div class="flex justify-center items-center w-[80%] md:w-[100%]">
        <span class="my-6 text-5xl font-bold select-none md:text-6xl">EXPERIENCE</span><span
          class="pr-5 text-5xl font-black text-blue-500 md:text-6xl">.</span
        >
        <Separator />
      </div>
      <div
        class="flex flex-col justify-center items-center h-[80%] gap-5 text-center"
      >
      </div>
    </div>
  </section>
<section id="proyects" class="scroll-mt-[6vh] flex pb-[5rem] pt-[2rem] justify-center bg-[#101010] h-auto">
  <!-- TODO: arreglar card portfolio-->
  <div class="md:w-[80%] h-[100%]">
    <div class="flex justify-end items-center mx-auto mb-5 w-[80%] md:w-[100%] pb-10">
      <Separator />
      <span class="ml-5 text-5xl font-bold select-none md:text-6xl">PROJECTS</span
      ><span class="text-5xl font-black text-blue-500 md:text-6xl">.</span>
    </div>
    <div class="flex flex-col gap-16 md:flex-row">
      <Card
        title="Adventist On The Map"
        description="Adventists on the Map is a web application that allows you to connect Adventist people and their services with people from all over the world. This was the first project with a real client. The application is still in development!"
        image="/AOTM.png"
        url="http://adventistonthemap.com"
        urlGithub="https://github.com/vicenzogiordana/advOnTheMap"
        repo={true}
        next={true}
        ts={true}
        node={true}
        tailwind={true}
        react={true}
        beta={true}
        dev={true}
        front={true}
      />

      <Card
        title="The Friends Language Club"
        description="The Friends Club is a web application that coordinates classes between teachers and students remotely. It is the first project in which I am involved voluntarily. It is still in development and will soon be implemented in Kyrgyzstan."
        image="/thefriends.jpg"
        url="https://thefriendslanguageclub.vercel.app"
        urlGithub="https://github.com/vicenzogiordana/advOnTheMap"
        repo={false}
        next={true}
        ts={true}
        node={true}
        tailwind={true}
        react={true}
        mongo={true}
        prisma={true}
        beta={true}
        dev={true}
        fullstack={true}
      />

      <!-- <Card
        title="PORTFOLIO"
        description="Simple responsive portfolio; it's about me with the goal of finding a stable job. You're here!"
        image="/PORFOLIO-LOGO.jpg"
        urlGithub="https://github.com/vicenzogiordana/advOnTheMap"
        demo={false}
        repo={true}
        next={false}
        astro={true}
        ts={true}
        node={true}
        tailwind={true}
        react={false}
      />
      <div></div> -->
    </div>
  </div>
</section>
<section id="contact" class="scroll-mt-[6vh] flex justify-center h-[94vh]">
  <!-- TODO: mejorar descripcion -->
  <div class="md:justify-center md:items-center w-[80%] h-[100%]">
    <div class=" flex items-center w-[80%] md:w-[100%]">
      <span class="my-6 text-5xl font-bold select-none md:text-6xl">CONTACT</span><span
        class="pr-5 text-5xl font-black text-blue-500 md:text-6xl">.</span
      >
      <Separator />
    </div>
    <div
      class="flex flex-col justify-center items-center h-[80%] gap-5 text-center"
    >
      <p class="text-2xl">
        Send me an email to contact me, you can also find me on<a
          href="https://linkedin.com/in/rhuaja/"
          target="_blank"
          class="text-blue-500"
        >
          LinkedIn.</a>
      </p>
      <div
        class="flex items-center gap-2 hover:text-blue-500 "
      >
        <EmailIcon />
        <span class="mb-1 text-2xl font-bold">rhuajamaita@gmail.com</span>
      </div>
    </div>
  </div>
</section>
</main>