---
import { Image, Picture } from "astro:assets";
import ProfileImg from "../assets/pngegg.png";
import EmailIcon from "../assets/email-icon.astro";
import GithubIcon from "../assets/github-icon.astro";
import LinkedinIcon from "../assets/linkedin-icon.astro";
import Card from "./Card.astro";
import Separator from "./Separator.astro";
---

<main class="mt-[8vh]">
  <section
    id="home"
    class="scroll-mt-[8vh] flex justify-center h-auto md:h-[92vh]"
  >
    <!-- TODO: Conseguir una buena foto-->
    <hero class="flex justify-center w-[100%] h-[100%] md:h-[75%] mb-20">
      <div
        class="flex flex-col md:pt-[0] md:flex-row md:justify-center md:items-center w-[80%] h-auto md:h-[100%] gap-16"
      >
        <div class="w-auto md:w-[615px] h-auto mt-5">
          <div class="pt-1">
            <h1>
              <span class="font-medium text-5xl">RODRIGO HUAJAMAITA</span>
            </h1>
            <h2 class="font-extralight text-3xl">
              ON THE PATH OF WEB DEVELOPMENT
            </h2>
            <p class="font-extralight text-2xl">
              Freelance web developer and systems engineering student.
            </p>
          </div>
          <div class="flex pt-3 md:pt-5 gap-6 w-[100%] h-[20%] text-white">
            <a href="#contact">
              <EmailIcon />
            </a>
            <a href="https://github.com/Rwaja" target="_blank">
              <GithubIcon />
            </a>
            <a href="https://linkedin.com/in/rhuaja/" target="_blank">
              <LinkedinIcon />
            </a>
          </div>
        </div>
        <div class="w-auto md:w-[30%] h-auto mt-3 md:mt-0">
          <Image
            src={ProfileImg}
            alt="Profile Image"
            format="png"
            class={"w-auto h-auto mx-auto"}
          />
        </div>
      </div>
    </hero>
  </section>
  <section
    id="about"
    class="scroll-mt-[8vh] flex flex-col justify-center items-center h-auto text-base font-extralight"
  >
    <!-- TODO: Arreglar SVG de Email-->
    <div class="flex justify-center items-center w-[80%] md:w-[80%]">
      <p class="font-semibold text-5xl my-6">ABOUT</p>
      <Separator />
    </div>
    <div class="flex flex-col md:flex-row mb-20 w-[80%] gap-6">
      <div class="mb-10 w-[100%] md:w-[615px] mr-20">
        <p class="text-2xl">
          &#x1F44B; I'm Rodrigo, i joined the world of web development at the
          beginning of 2023 and discovered one of the things that I am most
          passionate about and that is web development &#x1F680;.
          <br />
          <br />
           I currently live in Argentina, where I am a systems engineering
          student, in my 4th year, at the Universidad Adventista de la Plata,
          where i am a freelance web developer &#x1F4BB;, also looking for new
          opportunities that can help me grow as a person and professional!
        </p>
        <span class="flex gap-3 pt-5 w-auto"
          ><p class="font-bold text-2xl">
            My links
            <span class="">&#x1F449;</span>
          </p>
          <a href="#contact">
            <EmailIcon />
          </a>
          <a href="https://github.com/Rwaja" target="_blank">
            <GithubIcon />
          </a>
          <a href="https://linkedin.com/in/rhuaja/" target="_blank">
            <LinkedinIcon />
          </a>
        </span>
      </div>
      <div class="md:w-auto h-auto md:h-[75%]">
        <!-- Tecnologias -->
        <p class="text-3xl text-center font-bold mb-5">Use in development</p>
        <div
          class="grid grid-cols-3 gap-6 md:gap-4 items-center justify-center text-center h-auto w-auto font-semibold text-base"
        >
          <span
            class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >Typescript</span
          >
          <span
            class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >Next</span
          >
          <span
            class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >Astro</span
          >
          <span
            class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >Javascript</span
          >
          <span
            class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >MongoDB</span
          >

          <span
            class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >React</span
          >
          <span
            class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >Node</span
          >

          <span
            class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >Mongoose</span
          >
          <span
            class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >Prisma</span
          >
          <span
            class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >Tailwind</span
          >
          <span
            class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >Express</span
          >

          <span
            class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >Github</span
          >
          <span
            class="bg-gray-100 text-gray-800 font-semibold px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >CSS</span
          >
          <span
            class="bg-gray-100 text-gray-800 px-2.5 col-start-3 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >HTML5</span
          >
        </div>
      </div>
    </div>
  </section>

  <section id="proyects" class="scroll-mt-[8vh] flex justify-center h-auto">
    <!-- TODO: Crear un componente Card y mostrar mis proyectos-->
    <div class="md:justify-center md:items-center w-[80%] h-[100%]">
      <div class="flex justify-center items-center w-auto md:w-[100%]">
        <Separator />
        <p class="font-semibold text-5xl my-6">PROYECTS</p>
      </div>
      <div class="flex flex-col gap-16">
        <Card
          title="ADVENTIST ON THE MAP"
          description="ADVENTISTS ON THE MAP IS A WEB APPLICATION THAT ALLOWS YOU TO CONNECT ADVENTIST PEOPLE AND THEIR SERVICES WITH PEOPLE FROM ALL OVER THE WORLD. THIS WAS THE FIRST PROJECT WITH A REAL CLIENT. THE APPLICATION IS STILL IN DEVELOPMENT!"
          image="/AOTM-logo.jpeg"
          url="http://adventistonthemap.com"
          urlGithub="https://github.com/vicenzogiordana/advOnTheMap"
          repo={false}
          next={true}
          ts={true}
          node={true}
          tailwind={true}
          react={true}
        />

        <Card
          title="THE FRIENDS LANGUAGE CLUB"
          description="THE FRIENDS CLUB IS A WEB APPLICATION THAT COORDINATES CLASSES BETWEEN TEACHERS AND STUDENTS REMOTELY. IT IS THE FIRST PROJECT IN WHICH I AM INVOLVED VOLUNTARILY. IT IS STILL IN DEVELOPMENT AND WILL SOON BE IMPLEMENTED IN KYRGYZSTAN."
          image="/Friendsclub.jpeg"
          url="https://thefriendslanguageclub.vercel.app"
          urlGithub="https://github.com/vicenzogiordana/advOnTheMap"
          repo={false}
          next={true}
          ts={true}
          node={true}
          tailwind={true}
          react={true}
        />

        <Card
          title="PORTFOLIO"
          description="SIMPLE PORTFOLIO FULL RESPOSIVE, IT'S ABOUT ME, WITH THE GOAL OF BEING ABLE TO FIND A STABLE JOB. YOU'RE HERE!"
          image="/PORFOLIO-LOGO.jpg"
          url="https://thefriendslanguageclub.vercel.app"
          urlGithub="https://github.com/vicenzogiordana/advOnTheMap"
          repo={true}
          next={false}
          astro={true}
          ts={true}
          node={true}
          tailwind={true}
          react={false}
        />
        <div></div>
      </div>
    </div>
  </section>
  <section id="contact" class="scroll-mt-[8vh] flex justify-center h-[92vh]">
    <!-- TODO: Formas de onerse en contacto conmigo y respectivas redes sociales -->
    <div
      class="flex flex-col items-center justify-center md:flex-row md:justify-center md:items-center w-[80%] h-[100%] gap-16"
    >
      <h1 class="text-xl">Contact</h1>
    </div>
  </section>
</main>
<style>
  main {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #111;
  }
</style>
