---
import { Image, Picture } from "astro:assets";
import ProfileImg from "../assets/pngegg.png";
import EmailIcon from "../assets/email-icon.astro";
import GithubIcon from "../assets/github-icon.astro";
import LinkedinIcon from "../assets/linkedin-icon.astro";
import Card from "./Card.astro";
---

<main class="mt-[8vh]">
  <section
    id="home"
    class="scroll-mt-[8vh] flex justify-center h-auto md:h-[92vh] bg-white text-4xl "
  >
    <!-- TODO: Conseguir una buena foto-->
    <hero class="flex justify-center w-[100%] h-[100%] md:h-[75%]">
      <div
        class="flex flex-col md:pt-[0] md:flex-row md:justify-center md:items-center w-[80%] md:w-[685px] h-auto md:h-[100%] gap-16"
      >
        <div class="w-auto h-auto mt-5">
          <div class="pt-1">
            <h1>
            <span class="font-medium">RODRIGO HUAJAMAITA</span>
            </h1>
            <h2 class="font-extralight text-2xl">
              on the path of web development
            </h2>
            <p class="font-extralight text-lg">
              freelance web developer and systems engineering student.
            </p>
          </div>
          <div class="flex pt-3 md:pt-5 gap-6 w-[100%] h-[20%] text-white">
            <a href="#contact">
              <EmailIcon />
            </a>
            <a href="https://github.com/Rwaja" target="_blank">
              <GithubIcon />
            </a>
            <a href="https://linkedin.com/in/rhuaja/" target="_blank">
              <LinkedinIcon />
            </a>
          </div>
        </div>
        <div class="w-auto md:w-[30%] h-auto mt-3 md:mt-0">
          <Image
            src={ProfileImg}
            alt="Profile Image"
            format="png"
            class={"w-auto h-auto mx-auto"}
          />
        </div>
      </div>
    </hero>
  </section>
  <section
    id="about"
    class="scroll-mt-[8vh] flex justify-center h-auto bg-white text-lg font-extralight"
  >
    <!-- TODO: Arreglar SVG de Email-->
      <div class="flex flex-col md:flex-row items-center w-[80%] gap-6 md:gap-24">
        <div>
          <p class="font-extrabold text-5xl">About.</p>
          </br>
          <p>
            I'm Rodrigo &#x1F44B;, I joined the world of web development at the
            beginning of 2023 and discovered one of the things that I am most
            passionate about and that is web development &#x1F680;.
            <br />
            <br />
             I currently live in Argentina, where I am a systems engineering
            student, in my 4th year, at the Universidad Adventista de la Plata,
            where I am a freelance web developer &#x1F4BB; also looking
            for new opportunities that can help me grow as a person and
            professional!
          </p>
          <span class="flex gap-3 pt-5"
            ><p class="font-bold">My links &#x1F449;</p>
            <a href="#contact">
              <EmailIcon />
            </a>
            <a href="https://github.com/Rwaja" target="_blank">
              <GithubIcon />
            </a>
            <a href="https://linkedin.com/in/rhuaja/" target="_blank">
              <LinkedinIcon />
            </a>
          </span>
        </div>
        <div class="md:w-auto md:h-[75%]">
          <!-- Tecnologias -->
          <p class="text-xl font-bold">Use in development</p>
          <div class="flex flex-wrap gap-3 h-auto text-base">
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >Next</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >Astro</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >Typescript</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >Javascript</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >React</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >Node</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >MongoDB</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >Prisma</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >Mongoose</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >Github</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >Tailwind</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >Express</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >HTML</span
            >
            <span
              class="bg-gray-100 text-gray-800  font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
              >CSS</span
            >
          </div>
     </div>
    </div>
  </section>
  
  <section
  id="proyects"
  class="scroll-mt-[8vh] flex justify-center h-auto bg-blue-700"
>
<!-- TODO: Crear un componente Card y mostrar mis proyectos-->
<div
    class=" md:justify-center md:items-center w-[80%] h-[100%]"
  >
  <h1>Proyects.</h1>
  <div class="flex flex-col  gap-16">
      <Card title="Adventist on the map" description="Adventists on the map is a web application that allows you to connect Adventist people and their services with people from all over the world. This was the first project with a real client. The application is still in development!" image="/AOTM-logo.jpeg" url="http://adventistonthemap.com" urlGithub="https://github.com/vicenzogiordana/advOnTheMap" repo={false} next={true} ts={true} node={true} tailwind={true} react={true}/>
      
      <Card title="The Friends Lengugage Club" description="The Friends Club is a web application that coordinates classes between teachers and students remotely. It is the first project in which I am involved voluntarily, it is still in development, it will soon be implemented in Kyrgyzstan." image="/Friendsclub.jpeg" url="https://thefriendslanguageclub.vercel.app" urlGithub="https://github.com/vicenzogiordana/advOnTheMap" repo={false} next={true} ts={true} node={true} tailwind={true} react={true}/>
      
      <Card title="Portfolio" description="Simple portfolio, It's about me, with the goal of being able to find a stable job. You're here!" image="/PORFOLIO-LOGO.jpg" url="https://thefriendslanguageclub.vercel.app" urlGithub="https://github.com/vicenzogiordana/advOnTheMap" repo={true} next={false} astro={true} ts={true} node={true} tailwind={true} react={false}/>
      <div></div>
    </div>
  </div>
</section>
<section
  id="contact"
  class="scroll-mt-[8vh] flex justify-center h-[92vh] bg-green-700"
  >
  <!-- TODO: Formas de onerse en contacto conmigo y respectivas redes sociales -->
  <div
  class="flex flex-col items-center justify-center md:flex-row md:justify-center md:items-center w-[80%] h-[100%] gap-16"
  >
  <h1 class="text-xl">Contact</h1>
</div>
</section>
</main>
<style>
  main{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
</style>