---
import { Image, Picture } from "astro:assets";
import ProfileImg from "../assets/pngegg.png";
import EmailIcon from "../assets/email-icon.astro";
import GithubIcon from "../assets/github-icon.astro";
import LinkedinIcon from "../assets/linkedin-icon.astro";
import Card from "./Card.astro";
import Separator from "./Separator.astro";
import Tech from "./Tech.astro";
import Presentation from "./Presentation.astro";
---

<main class="mt-[8vh]">
  <section
    id="home"
    class="scroll-mt-[8vh] flex justify-center h-auto md:h-[92vh]"
  >
    <!-- TODO: Conseguir una buena foto y arreglar dimenciones del div, actualizar el color de los svg y buscar un segundo color principal secundario para darle mas estilo a la pagina-->
    <hero class="flex justify-center w-[100%] h-[100%] md:h-[75%] mb-20">
      <div
        class="flex flex-col md:pt-[0] md:flex-row md:justify-center md:items-center w-[90%] md:w-[80%] h-auto md:h-[100%] gap-16"
      >
        <div class="w-auto md:w-[615px] h-auto mt-5">
          <div class="pt-1">
            <h1>
              <span class="font-bold text-5xl">RODRIGO HUAJAMAITA</span>
            </h1>
            <h2 class="font-medium text-4xl ">
              I'm a <span class="text-blue-500 font-semibold">FREELANCE DEVELOPER</span>
            </h2>
            <span class="font-extralight text-2xl">
              ON THE PATH OF <span class="text-blue-500 font-semibold">WEB DEVELOPMENT</span>
            </span>
          </div>
          <div class="flex pt-3 md:pt-5 gap-6 w-[100%] h-[20%] items-center text-white">
            <a href="#contact">
              <EmailIcon />
            </a>
            <a href="https://github.com/Rwaja" target="_blank">
              <GithubIcon />
            </a>
            <a href="https://linkedin.com/in/rhuaja/" target="_blank">
              <LinkedinIcon />
            </a>
          </div>
        </div>
        <div class="w-auto md:w-[30%] h-auto mt-3 md:mt-0">
          <Image
            src={ProfileImg}
            alt="Profile Image"
            format="png"
            class={"w-auto h-auto mx-auto"}
          />
        </div>
      </div>
    </hero>
  </section>
  <section
    id="about"
    class="scroll-mt-[8vh] flex gap-5 flex-col justify-center items-center h-auto text-base font-extralight"
  >
    <!-- TODO: Definir que color darle al hover de los elementos de TECH-->
    <div class="flex justify-center items-center w-[80%] md:w-[80%]">
      <span class="font-bold text-5xl md:text-6xl my-6">ABOUT</span><span class=" font-black text-5xl md:text-6xl text-blue-500 pr-5">.</span>
      <Separator />
    </div>
    <div class="flex flex-col md:flex-row mb-20 w-[80%] gap-6">
      <Presentation />
      <Tech />
    </div>
  </section>
</main>

<section id="proyects" class="scroll-mt-[8vh] flex gap-5 justify-center h-auto">
  <!-- TODO: Definir que fuente y color poner en en la descripcion de Card-->
  <div class="md:justify-center md:items-center w-full md:w-[80%] h-[100%]">
    <div class="flex justify-end items-center mb-5 mx-auto w-[80%] md:w-[100%]">
      <Separator />
      <span class="font-bold text-5xl md:text-6xl ml-5 my-6">PROYECTS</span><span class=" font-black text-5xl md:text-6xl text-blue-500">.</span>
    </div>
    <div class="flex flex-col gap-16">
      <Card
        title="ADVENTIST ON THE MAP"
        description="Adventists on the Map is a web application that allows you to connect Adventist people and their services with people from all over the world. This was the first project with a real client. The application is still in development!"
        image="/AOTM.png"
        url="http://adventistonthemap.com"
        urlGithub="https://github.com/vicenzogiordana/advOnTheMap"
        repo={false}
        next={true}
        ts={true}
        node={true}
        tailwind={true}
        react={true}
      />

      <Card
        title="THE FRIENDS LANGUAGE CLUB"
        description="The Friends Club is a web application that coordinates classes between teachers and students remotely. It is the first project in which I am involved voluntarily. It is still in development and will soon be implemented in Kyrgyzstan."
        image="/TheFriends.jpeg"
        url="https://thefriendslanguageclub.vercel.app"
        urlGithub="https://github.com/vicenzogiordana/advOnTheMap"
        repo={false}
        next={true}
        ts={true}
        node={true}
        tailwind={true}
        react={true}
        mongo={true}
        prisma={true}
      />

      <Card
        title="PORTFOLIO"
        description="Simple portfolio, fully responsive; it's about me with the goal of finding a stable job. You're here!"
        image="/PORFOLIO-LOGO.jpg"
        urlGithub="https://github.com/vicenzogiordana/advOnTheMap"
        demo={false}        
        repo={true}
        next={false}
        astro={true}
        ts={true}
        node={true}
        tailwind={true}
        react={false}
      />
      <div></div>
    </div>
  </div>
</section>
<section id="contact" class="scroll-mt-[8vh] flex justify-center h-[92vh]">
  <!-- TODO: Formas de ponerse en contacto conmigo y respectivas redes sociales -->
  <div class="md:justify-center md:items-center w-[80%] h-[100%]">
    <div class="flex justify-center items-center w-auto md:w-[100%]">
      <p class="font-semibold text-5xl my-6">CONTACT</p>
      <Separator />
    </div>
    <div class="flex flex-col justify-center items-center h-[80%] gap-5 text-center">
      <p class="text-2xl">Send me an email to contact me, you can also find me on<a href="https://linkedin.com/in/rhuaja/" target="_blank" class="text-blue-500">
        LinkedIn.</a><p>
            <div class="flex gap-2 items-center hover:text-blue-500">
              <EmailIcon />
              <p class="text-2xl font-bold mb-1">rhuajamaita@gmail.com</p>
            </div>
    </div>
  </div>
</section>
