---
import AstroIcon from "../assets/stack-icons/astro-icon.astro";
import Badge from "./badge.astro";
const { next, ts, node, tailwind, react, astro, mongo, prisma } = Astro.props;
---

{
  next && (
    <div class="transition duration-75 ease-linear hover:scale-110">
      <Badge name="Next" next={true} />
    </div>
  )
}
{
  astro && (
    <div class="transition duration-75 ease-linear hover:scale-110">
      <AstroIcon />
    </div>
  )
}
{
  ts && (
    <div class="transition duration-75 ease-linear hover:scale-110">
      <Badge name="TypeScript" ts={true} />
    </div>
  )
}
{
  node && (
    <div class="transition duration-75 ease-linear hover:scale-110">
      <Badge name="Node" node={true} />
    </div>
  )
}
{
  tailwind && (
    <div class="transition duration-75 ease-linear hover:scale-110">
      <Badge name="Tailwind" tailwind={true} />
    </div>
  )
}
{
  react && (
    <div class="transition duration-75 ease-linear hover:scale-110">
      {" "}
      <Badge name="React" react={true} />
    </div>
  )
}
{
  mongo && (
    <div class="transition duration-75 ease-linear hover:scale-110">
      <Badge name="MongoDB" mongo={true} />{" "}
    </div>
  )
}
{
  prisma && (
    <div class="transition duration-75 ease-linear hover:scale-110">
      {" "}
      <Badge name="Prisma" prisma={true} />
    </div>
  )
}
