---
import DevIcon from "../assets/dev-icon.astro";
import Separator from "./Separator.astro";
import Badge from "./badge.astro";
---

<div class=" w-[90%] lg:w-[35%] h-auto md:h-[75%] py-5 px-2 rounded-xl border border-border-color bg-background-color">
  <!-- Tecnologias -->
  <div
    class="flex flex-col lg:flex-row lg:mb-5 gap-2 md:gap-2 justify-center items-center w-full"
  >
    <DevIcon />
    <h3 class="text-3xl font-bold mb-5 lg:mb-0 text-center pb-1">
      Use in Work
    </h3>
  </div>
  <Separator />
  <div
    class="flex flex-wrap gap-4 md:gap-4 mx-auto justify-center items-center pt-5 text-center h-auto w-[90%] md:w-full font-bold text-base"
  >
  <Badge name="TypeScript" ts={true}/>
  <Badge name="Next" next={true}/>
  <Badge name="Astro" astro={true}/>
  <Badge name="JavaScript" js={true}/>
  <Badge name="Express" express={true}/>
  <Badge name="Git" git={true}/>
  <Badge name="CCS" css={true}/>
  <Badge name="HTML" html={true}/>
  <Badge name="Mongoose" mongoose={true}/>
  <Badge name="Prisma" prisma={true}/>
  <Badge name="Tailwind" tailwind={true}/>
  <Badge name="React" react={true}/> 
  <Badge name="MongoDB" mongo={true}/>   
  <Badge name="Node" node={true}/>
  </div>
</div>
